<!DOCTYPE html>
<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati vero
      possimus sit impedit. Accusantium, ipsa. Eius doloribus officia incidunt
      alias? Possimus, porro necessitatibus? Quidem saepe unde porro soluta at
      nemo.</p>
  </div>
</div>