<!DOCTYPE html>
<div
  class="jumbotron mt-5">
<!--jumbotron es una clase de boostrap mt es:margintop y 4 es el tamaño-->
  <h1 class="display-5">JD Dev Notes App (Node js, Mongo DB, Handlebars, Bootstrap 4)</h1>
  <!--display es una clase de booststrap y 4 es para hacerlo mas hrando-->

  <p class="lead">This is a simple app to manage your notes</p><!--lead es una clase de boostrap para que el texto se
    vea mas resaltado-->
  <hr class="my-4" /><!--my es margen arriba y abajo y 4 es el tamaño-->
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
    architecto eius, officia quidem nostrum culpa? Aspernatur debitis,
    repudiandae reiciendis itaque consectetur deserunt, ipsa cum minus
    accusantium quod est dolore eveniet!</p>
    <a href="https://www.linkedin.com/in/juandavidmdata/" class="btn btn-primary btn-lg" >JD Montaño Dev</a>
    <!--bnt es una clase de boostrap para crear botones y bnt-primary es el color (azul), btn.lg es para hacer
    crecer el boton-->
</div>
